.swiftpm/xcode/xcuserdata
ChemaUtils.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
ChemaUtils.xcworkspace/xcshareddata/swiftpm/Package.resolved
Example/Example.xcodeproj/xcuserdata
